

        <div class="ladytop">
            <div class="nav">
                <div class="left"><a href="https://user.qzone.qq.com/249692431/infocenter"><img src="__PUBLIC__/images/hunshang.png" alt="子墨"></a></div>
                <div class="right">
                <div class="box">
                    <a href="<{:url('Cate/index')}>"  rel='dropmenu209'>首页</a>
                    <{foreach $cateres as $v}>
                 <a href="<{:url('Cate/index',array('cateid'=>$v.id))}>"  rel='dropmenu209'><{$v.catename}></a>
                    <{/foreach}>
                 </div>
                </div>
            </div>
        </div>

<div class="hotmenu">
	<div class="con">热门标签：<a href='qiwenqushi/'>奇闻趣事</a> <a href=''>生活妙招</a> <a href='xingzuo/'>星座</a> <a href='qinzi/'>亲子</a> <a href='qiche/'>汽车</a> <a href='chongwubaike/'>宠物百科</a> <a href='jiaji/'>家居</a> </div>
</div>

<!--顶部通栏-->


